.add-itme-board-modal {
  .ant-form-inline {
    .ant-form-item {
      display: block;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  .ant-form-explain {
    position: absolute;
  }

  .ant-form-item-label{
    width: 26%;
  }

  .ant-form-item-control-wrapper {
    width: 74%;
  }
  
  .ant-modal-body{
    height: 500px;
    overflow-y: scroll;
  }
}

.board-modal-address{
  .address-title{
    font-size: 14px;
  }

  .address-title-text{
    padding-right: 10px;
    width: 26%;
    text-align: right;
    font-size: 14px;
  }

  .address-title-text::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }

  .address-add{
    cursor: pointer;
  }

  .address-add:hover{
    color: #1890ff;
  }

  .test-address{
    padding-left: 40px;
    padding-top: 15px;

    .ant-popover{
      width: 145px;
    }
  }

  .test-address-content{
    position: relative;
    margin-bottom: 10px;
    padding: 10px 40px 10px 0;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
  }
  .test-address-row {
    .f-l {
      width: 18%;
      text-align: right;
      line-height: 32px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
    }

    .f-r{
      width: 82%;
    }
   
    .test-address-lable::before {
      display: inline-block;
      margin-right: 4px;
      color: #f5222d;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }  

    .msg-text {
      height: 22px;
      font-size: 14px;
      color: #f5222d;
    }

    .address-lable-err{
      background-color: #fff;
      border-color: #f5222d;
      box-shadow: 0px 0px 3px rgba(245,34,45,.8) ;
    }

    .address-lable-err:hover {
      background-color: #fff;
      border-color: #f5222d;
    }
  }


  .test-address-operation{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 10px;
    font-size: 20px;
  }
}

.item-board-preview-modal{
  .preview-container{
  }

  .preview-content{
    height: 80px;
  }

  .preview-content-1{
    margin-bottom: 20px;
  }

  .preview-title{
    width: 20%;
    height: 100%;
    line-height: 80px;
  }

  .preview-detail{
    width: 80%;
    height: 100%;

    .preview-detail-item{
      .preview-detail-icon{
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 40px;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}

.item-board {
  .item-search {
    margin-bottom: 20px;

    .query-btn {
      margin-right: 20px;
    }

    .ant-form-inline {
      .ant-form-item {
        margin-right: 20px;
      }

      .form-btn {
        margin-right: 0;
      }
    }

    .ant-input {
      width: 230px;
    }
  }

  .item-board-row {
    margin-bottom: 20px;
  }

  .ant-card-body {
    padding: 12px 10px;
  }

  .card-text {
    font-size: 14px;
  }

  .item-board-card {
    .ant-card {
      display: inline-block;
      width: 15%;
      min-width: 100px;
      margin-right: 2%;
      margin-bottom: 2%;
    }

    .ant-card:nth-child(6n) {
      margin-right: 0;
    }
    .ant-card-actions{
      position: relative
    }
  }

  .item-add {
    margin-bottom: 20px;
  }
}
